body {
    font-family: DejaVu Sans Mono, monospace;
    background-color: rgb(135, 206, 250);
}

h3 {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.item {
    flex: 1 1 auto;
    margin: 10px;
}